{% extends "core/base.html" %}
{% block title %}
  {{ object.title }}
{% endblock title %}
{% block content %}
  <div class="mt-5">
    <br>
    <h1 class="display-4">{{ fund.title }}</h1>
    <div class="mt-4 mb-4">
      <a class="btn btn-outline-primary" href="{% url 'fund-update' object.slug object.id %}">Edit</a>
      <a class="btn btn-outline-danger" href="{% url 'fund-delete' object.slug object.id %}">Delete</a>
    </div>
    <p>Total Amount: £{{ fund.amount }}</p>
    <p>Total Allocated: £ {{ grants_active.amount__sum }}</p>
      <progress style="width: 25%" value="{{ grants_active.amount__sum }}" max="{{ fund.amount }}"></progress>
    <p>Open Date: {{ fund.open_date }}</p>
    <p>Closing Date: {{ fund.close_date }}</p>
    <p>Type: {{ fund.type }}</p>
    <p>Status: {{ fund.status }}</p>
    <p>{{ fund.notes }}
  </div>
  {% if grants %}
    <div class="mt-5">
        <h2 class="mb-4">Grants ({{grants|length}})</h2>
        <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th scope="col">Organisation</th>
              <th scope="col">Project Title</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for grant in grants %}
            <tr>
              <td><a href="{% url 'organisation-detail' grant.organisation.slug grant.organisation.id %}">{{ grant.organisation }}</a></td>
              <td><a href="{% url 'grant-detail' grant.slug grant.id %}">{{ grant.project_title }}</a></td>
              <td>£ {{ grant.amount }}</td>
              <td>{{ grant.date }}</td>
              <td class="{{ grant.class_status }}">{{ grant.status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  {% endif %}
{% endblock content %}
