{% extends "core/base.html" %}
{% block title %}
  Organisations
{% endblock title %}

{% block content %}

<div class="mt-5">
  <br>
  <h1 class="display-4">Organisations</h1>
  <div class="mt-4">
    <a class="btn btn-outline-primary" href="{% url 'organisation-create' %}">Add New</a>
  </div>
  <table class="table mt-5 table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Organisation</th>
        <th scope="col">Address</th>
        <th scope="col">Address</th>
        <th scope="col">Postcode</th>
        <th scope="col">County</th>
        <th scope="col">Type</th>
        <th scope="col">Website</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for organisation in organisations %}
        <tr>
          <td><a href="{% url 'organisation-detail' organisation.slug organisation.id %}">{{ organisation.organisation_name }}</a></td>
          <td>{{ organisation.address_1 }}</td>
          <td>{{ organisation.address_2 }}</td>
          <td>{{ organisation.postcode }}</td>
          <td>{{ organisation.county }}</td>
          <td>{{ organisation.type }}</td>
          <td><a href="{{ organisation.website }}">{{ organisation.website }}</a></td>
          <td><a href="{% url 'organisation-update' organisation.slug organisation.id %}"><i class="fas fa-edit"></i></a></td>
          <td><a href="{% url 'organisation-delete' organisation.slug organisation.id %}"><i class="fas fa-trash"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
