{% extends "core/base.html" %}
{% block content %}
  <div class="mt-5">
    <br>
      <h1 class="display-4">{{ object.organisation_name }}</h1>
      <img src="https://logo.clearbit.com/{{ object.website }}" height="50px" class="rounded-circle">

      <p><a href="{{ object.website }}">{{ object.website }}</a></p>
      <p>{{ object.address_1 }}, {{ object.address_2 }}, {{ object.county }}, {{ object.postcode }} </p>
      <p>{{ object.type }}</p>
      <p>{{ object.notes }}</p>
  </div>
  <div class="mt-5">
      <h2 class="mb-4">Grants ({{grants|length}})</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Project Title</th>
            <th scope="col">Fund</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for grant in grants %}
          <tr>
            <td><a href="{% url 'grant-detail' grant.id %}">{{ grant.project_title }}</a></td>
            <td><a href="{% url 'fund-detail' grant.fund.id %}">{{ grant.fund }}</a></td>
            <td>{{ grant.amount }}</td>
            <td>{{ grant.date }}</td>
            <td class="{{ grant.class_status }}">{{ grant.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <div class="mt-5">
      <h2 class="mb-4">Contacts ({{contacts|length}})</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Job Title</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
          <tr>
            <td><a href="{% url 'contact-detail' contact.id %}">{{ contact.first_name }}</a></td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.job_title }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.updated }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock content %}
