{% extends "core/base.html" %}
{% block title %}
  {{ object.first_name }} {{ object.last_name }}
{% endblock title %}
{% block content %}
  <div class="mt-5">
    <br>
    <h1 class="display-4">{{ object.first_name }} {{ object.last_name }}</h1>
    <div class="mt-4">
      <a class="btn btn-outline-primary" href="#">Edit</a>
      <a class="btn btn-outline-danger" href="#">Delete</a>
    </div>
    <p>Organisation: <a href="{% url 'organisation-detail' contact.organisation.slug contact.organisation.id %}">{{ object.organisation }}</a></p>
    <p>Job Title: {{ object.job_title }}</p>
    <p>Email: <a href="mailto:{{ object.email }}">{{ object.email }}</a></p>
    <p>Phone: {{ object.phone }}</p>
    <p>Last Updated: {{ object.updated }}</p>
    <p>Notes: {{ object.notes }}</p>
  </div>
{% endblock content %}
