{% extends "core/base.html" %}
{% block title %}
  {{ object.first_name }} {{ object.last_name }}
{% endblock title %}
{% block content %}
  <div class="mt-5">
    <br>
    <h1 class="display-4">{{ object.first_name }} {{ object.last_name }}</h1>
    <div class="mt-4 mb-4">
      <a class="btn btn-outline-primary" href="{% url 'contact-update' object.slug object.id %}">Edit</a>
      <a class="btn btn-outline-danger" href="{% url 'contact-delete' object.slug object.id %}">Delete</a>
    </div>
    <p><strong>Organisation: </strong><a href="{% url 'organisation-detail' contact.organisation.slug contact.organisation.id %}">{{ object.organisation }}</a></p>
    <p><strong>Job Title: </strong>{{ object.job_title }}</p>
    <p><strong>Email: </strong><a href="mailto:{{ object.email }}">{{ object.email }}</a></p>
    <p><strong>Phone: </strong>{{ object.phone }}</p>
    <p><strong>Last Updated: </strong>{{ object.updated }}</p>
    <p>{{ object.notes }}</p>
  </div>
{% endblock content %}
