{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="mt-5">
    <br>
      <h1 class="display-4">{{ object.first_name }} {{ object.last_name }}</h1>
  </div>
  <div class="mt-5">
    <form class="" method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit" name="button">Save</button>
      </div>
    </form>
  </div>
{% endblock content %}
