{% extends "core/base.html" %}
{% block content %}
<div class="mt-5">
  <br>
  <h1 class="display-4">Contacts</h1>
  <div class="mt-4">
    <a class="btn btn-outline-primary" href="#">Add New</a>
  </div>
  <table class="table mt-5 table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Organisation</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Job Title</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      <tr>
        <td><a href="{% url 'organisation-detail' contact.organisation.slug contact.organisation.id %}">{{ contact.organisation }}</a></td>
        <td><a href="{% url 'contact-detail' contact.slug contact.id %}">{{ contact.first_name }}</a></td>
        <td>{{ contact.last_name }}</td>
        <td>{{ contact.job_title }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.updated }}</td>
        <td><a href="#"><i class="fas fa-edit"></i></a></td>
        <td><a href="#"><i class="fas fa-trash"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
