{% extends "core/base.html" %}
{% block title %}
  {{ object.project_title }}
{% endblock title %}
{% block content %}
  <div class="mt-5">
    <br>
    <h1 class="display-4">{{ object.project_title }}</h1>
    <div class="mt-4 mb-4">
      <a class="btn btn-outline-primary" href="{% url 'grant-update' object.slug object.id %}">Edit</a>
      <a class="btn btn-outline-danger" href="{% url 'grant-delete' object.slug object.id %}">Delete</a>
    </div>
    <p>Organisation: <a href="{% url 'organisation-detail' object.organisation.slug object.organisation.id %}">{{ object.organisation.organisation_name }}</a></p>
    <p>Fund: <a href="{% url 'fund-detail' object.fund.slug object.fund.id %}">{{ object.fund.title }}</a></p>
    <p>Award: £ {{ object.amount }}</p>
    <p>Date Submitted: {{ object.date }}</p>
    <p>Status: {{ object.status }}</p>
    {% if object.attachment %}
      <p>Attachments: <a href="/{{ object.attachment.file }}">{{ object.attachment.name }}</a></p>
    {% endif %}
    <p>Notes: {{ object.notes }}</p>
  </div>
{% endblock content %}
