{% extends "core/base.html" %}
{% block content %}
<div class="mt-5">
  <br>
  <h1 class="display-4">Grants</h1>
  <table class="table mt-5 table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Organisation</th>
        <th scope="col">Fund</th>
        <th scope="col">Project Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for grant in grants %}
      <tr>
        <td><a href="{% url 'organisation-detail' grant.organisation.id %}">{{ grant.organisation }}</a></td>
        <td><a href="{% url 'fund-detail' grant.fund.id %}">{{ grant.fund }}</a></td>
        <td><a href="{% url 'grant-detail' grant.id %}">{{ grant.project_title }}</a></td>
        <td>{{ grant.amount }}</td>
        <td>{{ grant.date }}</td>
        <td>{{ grant.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
