{% extends "core/base.html" %}
{% block content %}
  <div class="mt-5">
    <br>
    <h1 class="display-4">{{ object.project_title }}</h1>
    <div class="mt-4">
      <a class="btn btn-outline-primary" href="#">Edit</a>
      <a class="btn btn-outline-danger" href="#">Delete</a>
    </div>
    <p>Organisation: <a href="{% url 'organisation-detail' object.organisation.id %}">{{ object.organisation.organisation_name }}</a></p>
    <p>Fund: <a href="{% url 'fund-detail' object.fund.id %}">{{ object.fund.title }}</a></p>
    <p>Award: £ {{ object.amount }}</p>
    <p>Date Submitted: {{ object.date }}</p>
    <p>Status: {{ object.status }}</p>
    <p>Notes: {{ object.notes }}</p>
  </div>
{% endblock content %}
