{% extends "core/base.html" %}
{% block title %}
  Grants
{% endblock title %}
{% block content %}
<div class="mt-5">
  <br>
  <h1 class="display-4">Grants</h1>
  <div class="mt-4">
    <a class="btn btn-outline-primary" href="{% url 'grant-create' %}">Add New</a>
  </div>
  <table class="table mt-5 table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Organisation</th>
        <th scope="col">Fund</th>
        <th scope="col">Project Title</th>
        <th scope="col">Amount (£)</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for grant in grants %}
      <tr>
        <td><a href="{% url 'organisation-detail' grant.organisation.slug grant.organisation.id %}">{{ grant.organisation }}</a></td>
        <td><a href="{% url 'fund-detail' grant.fund.slug grant.fund.id %}">{{ grant.fund }}</a></td>
        <td><a href="{% url 'grant-detail' grant.slug grant.id %}">{{ grant.project_title }}</a></td>
        <td>£ {{ grant.amount }}</td>
        <td>{{ grant.date }}</td>
        <td class="{{ grant.class_status }}">{{ grant.status }}</td>
        <td><a href="{% url 'grant-update' grant.slug grant.id %}"><i class="fas fa-edit"></i></a></td>
        <td><a href="{% url 'grant-delete' grant.slug grant.id %}"><i class="fas fa-trash"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
